# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/
.venv/
.env1/

# Logs
*.log
logs/
auth.log

# OS files
.DS_Store
Thumbs.db

# IDE / editor settings
.vscode/
.idea/

# Unnecessary text files
regex_patterns.txt